NEXT_PUBLIC_SUPABASE_URL=https://fqnzqksdmvpoeoeyfhwb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxbnpxa3NkbXZwb2VvZXlmaHdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyOTgyNjgsImV4cCI6MjA5NDg3NDI2OH0.cgIeQY7QdHq6TNoaI2_mNLWw6ESkcBr5bwUKRy8F9oo
